<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418540624209-mk38n67bq298on2me7kbl1ut8f3rmj0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418540624209-mk38n67bq298on2me7kbl1ut8f3rmj0a</string>
	<key>API_KEY</key>
	<string>AIzaSyAG4jgU2Ivu7HI3Noto8gzRTj-P7ihqIPU</string>
	<key>GCM_SENDER_ID</key>
	<string>418540624209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iBlessme</string>
	<key>PROJECT_ID</key>
	<string>easytech-4dc93</string>
	<key>STORAGE_BUCKET</key>
	<string>easytech-4dc93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:418540624209:ios:d79b1f6420302322d2db70</string>
</dict>
</plist>
